* {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Verdana;
}

.welcome_header {
  background-color: #008d63;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  background-blend-mode: soft-light;
}

.welcome_to_header {
  font-size: 30px;
}

.mine_sweeper_header {
  color: white;
  text-decoration: none;
  font-size: 50px;
}

.mine_sweeper_header:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.created_using_js_header {
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  margin-bottom: 15px;
  background-color: #00553b;
  background-repeat: no-repeat, repeat;
}
